@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: black;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

p {
    font-weight: 300;
}

.content-wrapper {
    margin-top: 25px;
    height: 100vh;
    text-align: center;
}


.content-wrapper .content h1 span {
    margin-top: 10px;
    font-size: 60px;
    text-align: left;
}
