@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: black;
    background: lightcyan;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

p {
    font-weight: 300;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem auto 0 auto;
    height: 85vh;
    text-align: center;
    width: 56rem;
    justify-content: center;
}
