{% extends "layout.html" %}
{% block content %}

    <h1>
        A super stylish home page
    </h1>
    <p>
        Really interesting content, full of buzzwords like AI and MACHINE LEARNING!
    </p>
    {% if books %}
    <ul style="text-align: left">
        {% for book in books %}
        <li key="{{book.id}}"><b>Title</b>: {{book.title}}<br/><b>Author</b>: {{book.author}}</li>
        <p style="padding-left: 6rem;">{{book.description}}</p>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
