<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website showcasing fastapi and sqlmodel">
    <meta name="author" content="idjotherwise">

    <title>Fastsqlmodel showcase</title>

    <link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styling.css" rel="stylesheet">

</head>

<body >

<div class="content-wrapper">
    <div class="container">
        <div class="row">
                    <h1>
                        <span class="font-semi-bold">
                          Book list
                        </span>
                    </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div>
                {% block content %}
                    <div class="content">
                                THIS PAGE HAS NO CONTENT
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer links">
        <ul>
            <li><i class="glyphicon glyphicon-cog icon-muted"></i><a
                            href="https://github.com/idjotherwise"
                            target="_blank">Github</a>
            </li>
            <li><i class="glyphicon glyphicon-globe icon-muted"></i><a href="https://twitter.com"
                                                                               target="_blank">Twitter</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>